

<h1 style="text-align:center;">Welcome to InstaSMart</h1>
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
          <img src="../../assets/images/s2.jpeg" alt="Carousel One">
      </div>
      <div class="carousel-caption">
        <h5>Fress Vegetables at your doorsteps</h5>
        <p>We Care for your health</p>
      </div>
  </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="../../assets/images/s1.jpg" alt="Carousel One">
        </div>
        <div class="carousel-caption">
          <h5>InstaSMart</h5>
          <p>For best shopping experience.....</p>
          <p>Shop with us :-)</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="../../assets/images/s3.jpg" alt="Carousel Two">
        </div>
        <div class="carousel-caption">
          <h5>Amazon FireStick</h5>
          <p>Don't limit youself</p>
          <p>Watch houndreds of movies and web series</p>
          <p>And</p>
          <p>Make your personal room as a theater</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img src="../../assets/images/s4.jfif" alt="Carousel Three">
        </div>
        <div class="carousel-caption">
          <h5>Camera</h5>
          <p>Don't you like the nature</p>
          <p>So capture it</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
          <img src="../../assets/images/s5.webp" alt="Carousel five">
      </div>
      <div class="carousel-caption">
        <h5>woooohooooo....</h5>
          <h5>Winter Sale</h5>
        <p>Shop more Save more</p>
      </div>
  </ng-template>
</ngb-carousel>