<div class="card">
    <div class="card-header">
        <!-- <h4 class="card-title">About Us</h4> -->
        <p class="card-text">
          <h3>What is instaSMart.com</h3>
         <p>
          instaSMart.com (Innovative Retail Concepts Private Limited) is India's 
          largest online food and grocery store. With over 18,000 products and over a 1000 brands 
          in our catalogue you will find everything you are looking for. Right from fresh Fruits 
          and Vegetables, Rice and Dals, Spices and Seasonings to Packaged products, Beverages, 
          Personal care products, Meats - we have it all.
        </p>
        
        <h3> 
          Why should I use instasmart.com?</h3>
        <p>
          instasmart.com allows you to walk away from the drudgery of grocery shopping 
          and welcome an easy relaxed way of browsing and shopping for groceries. Discover 
          new products and shop for all your food and grocery needs from the comfort of your home 
          or office. No more getting stuck in traffic jams, paying for parking, standing in long queues 
          and carrying heavy bags - get everything you need, when you need, right at your doorstep. Food 
          shopping online is now easy as every product on your monthly shopping list, is now available 
          online at bigbasket.com, 
          India's best online grocery store.
        </p>
    </div>
</div>

<!-- <img src="../../assets/images/happyShop.png" class="center"> -->

<div class="row">
    <div class="col-sm-6">
      <div class="card text-center">
        <div class="card-body">
            <img src="../../assets/images/item.png">
          <h5 class="card-title">Total Items</h5>
          <h3 class="card-text">200,000,000+</h3>
          <a href="#" class="btn btn-primary">Know More</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card text-center">
        <div class="card-body">
            <img src="../../assets/images/city.png">
          <h5 class="card-title">Cities</h5>
          <h3 class="card-text">65,000+</h3>
          <a href="#" class="btn btn-primary">Know More</a>
        </div>
      </div>
    </div>
  </div>

