<div class="card">
    <div class="card-header">
        <h4 class="card-title">About Us</h4>
        <p class="card-text">
            Founded in August of 2022 and based in San Francisco, California, InstaSMart is a trusted community
            marketplace for people to list, purchase, and add unique items in the cart -
            online or from a mobile phone or tablet
        </p>
        <p>
            Founded in August of 2022 and based in San Francisco, California, InstaSMart is a trusted community
            marketplace for people to list, purchase, and add unique items in the cart -
            online or from a mobile phone or tablet. Founded in August of 2022 and based in San Francisco, California, InstaSMart is a trusted community
            marketplace for people to list, purchase, and add unique items in the cart -
            online or from a mobile phone or tablet. Founded in August of 2022 and based in San Francisco, California, InstaSMart is a trusted community
            marketplace for people to list, purchase, and add unique items in the cart -
            online or from a mobile phone or tablet.
        </p>
    </div>
</div>

<!-- <img src="../../assets/images/happyShop.png" class="center"> -->

<div class="row">
    <div class="col-sm-6">
      <div class="card text-center">
        <div class="card-body">
            <img src="../../assets/images/item.png">
          <h5 class="card-title">Total Items</h5>
          <h3 class="card-text">200,000,000+</h3>
          <a href="#" class="btn btn-primary">Know More</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card text-center">
        <div class="card-body">
            <img src="../../assets/images/city.png">
          <h5 class="card-title">Cities</h5>
          <h3 class="card-text">65,000+</h3>
          <a href="#" class="btn btn-primary">Know More</a>
        </div>
      </div>
    </div>
  </div>

