*{
    text-align: center;
}
.example-container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
  
  .example-container > * {
    width: 80%;
  }